.header{
  width: 100%;
  padding: 20px 5%;
  background: rgb(0,18,255);
  background: linear-gradient(0deg, rgba(0,18,255,1) 0%, rgba(183,0,255,1) 30%);
  display: flex;
  justify-content: space-between;
}

input{
  width: 20%;
  padding: 10px;
  font-size: 17px;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
}

/* news article css */

.news-articles{
  width: 100%;
  padding: 30px 5%;
  background: rgb(183,0,255);
  background: linear-gradient(0deg, rgba(183,0,255,1) 0%, rgba(0,18,255,1) 60%);
  display: flex;
  flex-wrap: wrap;
  column-gap: 4%;
  row-gap: 20px;
}
.news{
  width: 22%;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 5px;
}

.news-img{
  width: 100%;
  height: 200px;
  /* background-color: blue; */
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-img img{
  min-width: 100%;
  max-width: 100%;
}

.source{
  display: flex;
  justify-content: space-between;
  color: gray;
}
